@import "tailwindcss";


@font-face{
    font-family: "Garet";
    src: url('fonts/Garet-Book.woff2') format("woff2");
    
}

@font-face{
    font-family: "Inter";
    src: url("fonts/Inter-Regular.woff2") format("woff2");
    
}

@font-face{
    font-family: "Inter-Bold";
    src: url("fonts/Inter-Bold.woff2") format("woff2");
    
}

@font-face{
    font-family: "Roboto-Bold";
    src: url("fonts/Roboto-Bold.ttf") format("TrueType");
    
}

.garet-500{
    font-family: "Garet";
}

.inter-500{
    font-family: "Inter";
}

.inter-600{
    font-family: "Inter-Bold";
    /* font-weight: 600; */
}

.roboto-600{
    font-family: "Roboto-Bold";
    /* font-weight: 600; */
}

.bg-theme-gray{
    background-color: #545454;
}